*{
    box-sizing :border-box;
    margin: 0;
    padding: 0;
    font-family:sans-serif;
    scroll-behavior:smooth;

}



:root{
    --white-light: rgba(255,255,255,0.5);
    --on-primary: rgba(255,255,255,0.5);
    --on-background: rgba(13, 13, 13, 0.5);
    --alice-blue:white;
    --alice-gray: gray;
    --carribean-green: #40c9a2;
    --gray: #ededed;
    --background: rgba(20, 19, 19, 0.5);
    --font-size:15px;
}
[data-theme="dark"]{
       --on-primary: rgb(49, 49, 49);
       --alice-blue:rgb(42, 41, 41);
       --alice-gray: rgb(42, 41, 41);

}
[data-theme="big"]{
    --font-size: 20px;
}



.nav{
    background-color:#787878;
    height: 80px;
    display:flex;
    justify-content: center;
    align-items:center;
    font-size : 1.2rem;
}

.nav{
    position: -webkit-sticky;
    position: -moz-sticky;
    position:-ms-sticky;
    position:-o-sticky;
    position:sticky;
    top:0;
    z-index:999;
}
.nav_container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 9;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
    font-size: 1.2rem;
}

/**.btnn{
 padding:0 10px;
 display:inline-flex;
 background: #ddd;
 margin-left:10px;
 cursor:pointer;
 

}

.btnn.active{
  background : #444;
}
**/

.con {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

.con input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmak {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
  }

.con:hover input ~ .checkmak {
    background-color: #ccc;
  }  

.con input:checked ~ .checkmak {
    background-color: #060606;
  }  

.checkmak:after {
    content: "";
    position: absolute;
    display: none;
  }

.con input:checked ~ .checkmak:after {
    display: block;
  }
  

.con .checkmak:after {
    top: 9px;
   left: 9px;
   width: 8px;
   height: 8px;
   border-radius: 50%;
   background: white;
}



.buttonss .btnn:nth-child(2){
    font-size: 1.4em;
}

.buttonss .btnn:nth-child(3){
    font-size: 1.8em;
}



#logo
{       
    left: 0px;
    width:100px;
    height:80px;
    cursor:pointer;
    display:flex;
    align-items:center;
}

.menu{
    display: flex;
    align-items:center;
    list-style: none;
}
.nav_item{
  height:80px;
}

.nav_links{
    color:white;
    display:flex;
    align-items: center;
    width:125px;
    justify-content:center;
    text-decoration: none;
    height: 100%;
    transition:all 0.3s ease;
}


.nav_btn{
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 100%;
}
.nav_button{
    color: white;
    display:flex;
    justify-content: center;
    align-items:center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #FEAC5E;  
    background: -webkit-linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E);  
    background: linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E); 
    transition: all 0.3s ease;


}


.nav_links:hover{
    color: red;
    transition: all 0.2s ease;
} 

.nav_button:hover{
    color:red;
    transition: all 0.2s ease;
}



.contain {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.contain input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
}

.contain:hover input ~ .checkmark {
    background-color: #ccc;
}

.contain input:checked ~ .checkmark {
    background-color: black;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.contain input:checked ~ .checkmark:after {
    display: block;
}
  

.contain .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}



@media screen and (max-width:960px){
    .nav_container{
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index:1;
        width: 100%;
        max-width: 1300px;
        padding: 0;

    }

    .menu{
        display:grid;
        grid-template-columns:auto;
        margin:0;
        width: 100%;
        position: absolute;
        top:-1000px;
        opacity:1;
        transition: all 0.5s ease;
        z-index: -1;
        

    }

    .menu.active{
        background:#787878;
        top:80%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 80vh;
        font-size: 1.2rem;
    }


    .nav_toggle .bar{
        width: 25px;
        height: 3px;
        margin:5px auto;
        transition: all 0.3s ease-in-out;
        background:white; 
    }

    .nav_item{
        width:100%;
    }

    .nav_links{
        text-align:center;
        padding: 2rem;
        width: 100%;
        display:table;
    }
    .nav_btn{
        padding-bottom:1rem;

    }
    .nav_button{
        display:flex;
        justify-content: center;
        align-items: center;
        width: 60%;
        height: 50px;
        margin:0;
    }

    .est3{
        width:100%;

    }
    #mobile_menu{
        position:absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .nav_toggle, .bar{
        display:block;
        cursor: pointer;
    } 

    #mobile_menu.is-active .bar:nth-child(2){
        opacity: 0;
    }



    #mobile_menu.is-active .bar:nth-child(1){
        transform: translateY(8px)  rotate(45deg);
        
    }

    #mobile_menu.is-active .bar:nth-child(3){
        transform: translateY(-8px)  rotate(-45deg);
        
    }



   
}

/* first page section */

.hero{
    position: relative;
    

}
 
.hero_container{
   position:absolute;
   bottom:8px;
   left:16px;
   font-size: 18px;
   
}


section{
    display:block;
}
img { 
    height: 50px;
    width: 100%;
    height: auto;
    display: block;
    
    
  }
.hero_heading{
    font-size: 65px;
    margin-bottom: 20px;
    color:white;
}


.hero_heading span{
    background: #FEAC5E;  
    background: -webkit-linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E);  
    background: linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E); 

   background: linear-gradient(
    to right,
    #ff6a00,
    #ee0979
   ); 
   background-size: 100%;
   -webkit-background-clip :text;
   -moz-background-clip:text;
   -webkit-text-fill-color: transparent;
   -moz-text-fill-color:transparent;
}

.est3{
    width:100;
}

.description{
    font-size: var(--font-size);
    background: #000428; 
    background: -webkit-linear-gradient(to right, #004e92, #000428); 
    background: linear-gradient(to right, #004e92, #000428); 

    background: linear-gradient(
        to right,
        #000428,
        #004e92
    ); 
    background-size: 100%;
    -webkit-background-clip :text;
    -moz-background-clip:text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color:transparent;
}

.main_btn{
    font-size: 1rem;
    background: #FEAC5E;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 1px 1px;
    border:none;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    transition : all 0.35s;
    outline: none;


}

.main_btn a {
    text-decoration:none;
    text-align: center;
}

.highlight{
    border-bottom: 4px solid rgb(132, 0 ,255);

}

@media screen and (max-width:768px){
    .hero_heading{
        font-size: 30px;

    }

    .description{
        font-size:var(--font-size);
    }
}
.checked {
    color: orange;

}



/* makeup */
.container {
    width: 88vw;
    margin: 0 auto;
}
.g-title,
.sm-title,
.md-title {
   font-family: 'Roboto';
   padding: 0.6rem 0;
   text-transform: capitalize;

}

.g-title{
    font-size: 2.5rem;
    font-weight: 500;
    text-align: center;
    padding: 1.3rem 0;
    opacity: 0.9;
    color:Orange;
}

.md-title{
    font-size:2rem;
    font-family: 'Roboto';

}

.sm-title{
    font-weight: bold;
    font-size: 1rem;
    text-transform: uppercase;
}

.text-light{
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5;
    opacity: 0.5;
    margin: 0.4rem 0;
    color:orange;
}
/*makeup section */
.makeup{
    background: var(--alice-blue);
    padding: 1.2rem 0;
}

#dark{
    color:#000428;
    
}

#white{
    color:var(--carribean-green);
    
}

.makeup .text-light{
    text-align: center;
    width: 70%;
    margin: 0.9rem auto;
}

.makeups{
    margin:2rem;
    position: relative;
}

.makeupContent{
    background-color: var(--gray);
    padding: 3rem 0.5rem 2rem 0.5rem;
    cursor:pointer;
}


.makeup_video{
    display: flex;
    justify-content: center;
}
.makeup-image {
    background-color: var(--gray);
    padding: 3rem 0.5rem 2rem 0.5rem;
    cursor:pointer;
}

.makeup #foundation{
    background: var(--white-light);
    box-shadow: 0 0 20px 10px var(--white-light);
    width: 200px;
    height:200px;
    margin: 0 auto;
    border-radius: 50%;
    transition: background 0.5s ease;
    
}

.makeup #lipstick{
    background: var(--white-light);
    box-shadow: 0 0 20px 10px var(--white-light);
    width: 200px;
    height:200px;
    margin: 0 auto;
    border-radius: 50%;
    transition: background 0.5s ease;
    
}

.makeup #powder{
    background: var(--white-light);
    box-shadow: 0 0 20px 10px var(--white-light);
    width: 200px;
    height:200px;
    margin: 0 auto;
    border-radius: 50%;
    transition: background 0.5s ease;
    
}

.makeup #bronzer{
    background: var(--white-light);
    box-shadow: 0 0 20px 10px var(--white-light);
    width: 200px;
    height:200px;
    margin: 0 auto;
    border-radius: 50%;
    transition: background 0.5s ease;
    
}
.makeup-btns{
    display:flex;
    justify-content: center;
    margin-top : 1.4rem;
    opacity:0;
    transition: opacity 0.6s ease;
}

.btn-cart, .btn-buy{
    background: transparent;
    border: 1px solid black;
    padding: 0.8rem 0;
    width: 125px;
    font-family: inherit;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    transition: all 0.5s ease;

}

.btn-cart{
    background:orange;
    color: white;
}

.btn-cart:hover{
    background: var(--carribean-green);
}
.btn-buy{
    background:white;

}

.btn-buy:hover{
    background:var(--carribean-green);
    color:#fff;
}

.makeup-info{
    background:white;
    padding: 2 rem;

}

.makeup-info-top{
    justify-content:space-between;
    align-items: center;
}

.foundation1{
    color:black;
    display:block;
    text-decoration:none;
    font-size: 1rem;
    text-decoration: uppercase;
    
}


.foundation_price{
    padding-top:0.6rem;
    padding-right: 0.6rem;
    display: inline-block;
}
.foundation_price:first-of-type{
    text-decoration: line-through;

}

.makeup-image, #foundation{
 transition: transform 0.6s ease
}

.makeup:hover .makeup-image img{
    transform :scale(1.1);

}

.makeup:hover .makeup-btns{
    opacity: 1;
}
.off-info .sm-title{
    background:var(--carribean-green);
    color:white;
    display:inline-block;
    padding:0.5rem;
    top : 0;
    left: 0;
    letter-spacing: 3px;
    cursor: pointer;

}

@media screen and (min-width:950px){
    .makeup_items{
        display:grid;
        grid-template-columns:repeat(2, 1fr);

    }
}
/*
@media screen and (min-width:1100px){
    .makeup_items{
        display:grid;
        grid-template-columns: repeat(3,1fr);
    }
    .makeups{
        margin-right: 1rem;
        margin-left: 1rem;
    }

    .makeup .text-light{
        width:50%
    }
}
*/







/* skincare */

.skincare{
    background: var(--alice-blue);
    padding: 1.2rem 0;
}

.skincare .text-light{
    text-align: center;
    width: 70%;
    margin: 0.9rem auto;
}

.skincares{
    margin:2rem;
    position: relative;
}

.skincareContent{
    background-color: var(--gray);
    padding: 3rem 0.5rem 2rem 0.5rem;
    cursor:pointer;
}


.skincare_video{
    display: flex;
    justify-content: center;
}


.skincare #sk1{
    background: var(--white-light);
    box-shadow: 0 0 20px 10px var(--white-light);
    width: 200px;
    height:200px;
    margin: 0 auto;
    border-radius: 50%;
    transition: background 0.5s ease;
} 


.skincare #sk2{
    background: var(--white-light);
    box-shadow: 0 0 20px 10px var(--white-light);
    width: 200px;
    height:200px;
    margin: 0 auto;
    border-radius: 50%;
    transition: background 0.5s ease;
} 
.skincare #sk3{
    background: var(--white-light);
    box-shadow: 0 0 20px 10px var(--white-light);
    width: 200px;
    height:200px;
    margin: 0 auto;
    border-radius: 50%;
    transition: background 0.5s ease;
} 



.skincare-btns{
    display:flex;
    justify-content: center;
    margin-top : 1.4rem;
    opacity:0;
    transition: opacity 0.6s ease;
}

.btn-cart, .btn-buy{
    background: transparent;
    border: 1px solid black;
    padding: 0.8rem 0;
    width: 125px;
    font-family: inherit;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    transition: all 0.5s ease;

}

.btn-cart{
    background:orange;
    color: white;
}

.btn-cart:hover{
    background: var(--carribean-green);
}
.btn-buy{
    background:white;

}

.btn-buy:hover{
    background:var(--carribean-green);
    color:#fff;
}

.skincare-info{
    background:white;
    padding: 2rem;

}

.skincare-info-top{
    justify-content:space-between;
    align-items: center;
}

.ski1{
    color:black;
    display:block;
    text-decoration:none;
    font-size: 1rem;
    text-decoration: uppercase;
}

.skincare_price{
    padding-top:0.6rem;
    padding-right: 0.6rem;
    display: inline-block;
}
.skincare_price:first-of-type{
    text-decoration: line-through;

}

.skincare-image, #sk1{
    transition: transform 0.6s ease;
}
   
.skincare:hover .skincare-image img{
       transform :scale(1.1);
   
}
   
.skincare:hover .skincare-btns{
       opacity: 1;
}
.off-info .sm-title{
    background:var(--carribean-green);
       color:white;
       display:inline-block;
       padding:0.5rem;
       top : 0;
       left: 0;
       letter-spacing: 3px;
       cursor: pointer;
   
}


@media screen and (min-width:1100px){
    .skincare_items{
        display:grid;
        grid-template-columns: repeat(3,1fr);
    }
    .skincares{
        margin-right: 1rem;
        margin-left: 1rem;
    }

    .skincare .text-light{
        width:50%
    }
}

/*services */
.services{
    background:var(--alice-gray);
    display : flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 10rem 0;
}

.services h1{
    background: #FEAC5E;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

   background: linear-gradient(
    to right,
    #ff6a00,
    #ee0979
   ); 
   background-size: 100%;
   -webkit-background-clip :text;
   -moz-background-clip:text;
   -webkit-text-fill-color: transparent;
   -moz-text-fill-color:transparent;
   margin-bottom: 2rem;
   
   font-size: 2.5rem;
}

.wrapper{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;

}

.services_card{
    margin: 10px;
    height: 425px;
    width: 300px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    background-image:linear-gradient(to right, #00dbde 0%,#fc00ff 100% );
    transition: 0.3s ease-in;

}


.services_card h2{
    text-align: center;
}

.services_image {
    padding: 3rem 0.5rem 2rem 0.5rem;
    cursor:pointer;
}


.services_card #services1{
    box-shadow: 0 0 20px 10px var(--white-light);
    width: 150px;
    height:150px;
    margin: 0 auto;
    border-radius: 50%;
    transition: background 0.5s ease;
} 

.services_card, #services1{
    transition: transform 0.6s ease;
}
   
.services:hover .services_card img{
       transform :scale(1.1);
   
}

.services_card p{
    text-align: center;
    margin:top 25px;
    font-size: 20px;
}

.services_btn{
    display:flex;
    justify-content:center;
    margin-top:16px;

}

.services_card button{
    color:white;
    padding:14px 24px;
    border:none;
    outline:none;
    border-radius: 4px;
    background: gray;
    font-size:1rem;
}

.services_card button:hover{
    cursor:pointer;

}

.services_card:hover{
    transform: scale(1.070);
    transition: 0.4s ease-in;
    cursor:pointer;
}

@media screen and (max-width:950px){
    .wrapper{
        grid-template-columns:1fr 1fr;
    }
}

@media screen and (max-width: 748px){
    .wrapper{
       grid-template-columns: 1fr;
    }
}


/**registration page **/



.register{
    display:flex;
    flex-direction:row ;
}

.content1{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: var(--alice-gray);
    width: 55%;
    min-height:83vh;
    padding:10px 10px;
}

.image1{
   background-image: url("./service1.jpg");
   background-repeat: no-repeat;
   
   height:75%;
}

.text1{
    text-align:center;
    color:white;
    font-size: 20px;
}
form{
    display:flex;
    flex-direction: column;
    justify-content: center;
    width:45%;
    /*max-width: 450px; */
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
    padding: 40px;
}

.title{
    font-size: 23px;
    font-weight: bold;
    margin-bottom:23px;
}

form  div  input{
    width:100%;
    border-radius:10px;
    height:35px;
    outline:none;
    border: 2px solid grey;
    padding: 0 35px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);

}
form div label{
  margin-bottom:5px;
  display:block;
}

form div{
    position:relative;
    margin-bottom:14px;
}
 
input:focus{
    border: 2px solid lightgray;
}

form div i {
    position: absolute;
    padding: 10px;
}


.success-icon, .failure-icon{
    right: 0;
    opacity:0;
}

.failure-icon, .error{
    color:red;
}
.error{
    font-size:14px;
}
.success-icon{
    color:green;
}

#submit{
    margin-top :14px;
    width: 100%;
    height: 45px;
    background-color: grey;
    border:2px solid grey;
    border-radius: 8px;
    color:white;
    font-size: 18px;
    font-weight: normal;
    cursor:pointer;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
    transition: all 0.1s ease;
}
#submit:hover{
    opacity: 0.5;
}

@media (max-width:900px){
    .register{
        flex-direction:column;
    }
    #form, .content1{
        width:100%;
    }

    .image1{
        height:70vh;
    }
}

@media(max-width:425px){
    #form{
        padding:20px;
    }
}


/*footer */
.footer{
    background:#484b4d;
    color: #d3d3d3;
    height:250px;
    position:relative;
}
.footer .footer-content{
    height: 300px;
    display:flex;

}

.footer .footer-content .footer-section{
    flex:1;
    padding:25px;
    border-top:2px solid white;
}

.footer .footer-bottom {
    background: rgb(60, 59, 59);
    color: white;
    height:50px;
    width:100%;
    text-align: center;
    position:absolute;
    bottom:0px;
    left:0px;
    padding-top:20px;

}

.flink{
    font-size: 1rem;
    color:white;
    padding: 1px 1px;
    border:none;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    transition : all 0.35s;
    text-decoration:none;
}

.footer .footer-content h2{
    color:white;
}

.footer .footer-content .about .contact span{
    display:block;
    font-size: 1.1rem;
    margin-bottom: 5px;
}

.footer .footer-content .about .contact span:hover{
    color:red;
    margin-left: 13px;
    transition: all 0.4s;

}

.footer .footer-content .about .socials a:hover{
    color:red;
    transition: all 0.3s ease;
}

.footer .footer-content .links ul a{
    display:block;
    margin-bottom:8px;
    font-size:1rem;
}

.footer .footer-content .links ul a:hover{
    color:red;
    margin-left: 15px;
    transition: all 0.4s;
}